@inherits LayoutComponentBase

<PageTitle>Voting System</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (_userService.CurrentUser is null)
        {
            <div class="top-row px-4">
                <a href="login">Sign In</a>
            </div>
        }
        else
        {
            <div class="top-row px-4">
                <a href="login">@GetTimeOfDay(), @_userService.CurrentUser.Username</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
