@page "/"

<PageTitle>Home</PageTitle>

<h1>Vote</h1>

@if (_userService.CurrentUser is not null)
{
    <Paragraph>
        Cast your vote <Anchor To="/vote">here</Anchor>.
    </Paragraph>
}
else
{
    <Paragraph>
        You need to be logged in to vote.
    </Paragraph>
}
