@page "/vote"

<h2>Vote</h2>

<hr/>

<h3>Vote for a party</h3>

@if (_userService.CurrentUser is not null)
{
    @if (_userService.CurrentUser.Person.CanVote())
    {
        <!-- Loop thorugh all parties -->
        <Check TValue="bool"></Check>
        <Button>Cast Vote</Button>
    }
    else
    {
        <Paragraph>
            It seems that you have either not verified your account or
            have accepted the terms and conditions. Please ensure your
            account is verified and you have accepted the terms and
            conditions to continue.
        </Paragraph>
    }
}
else
{
    <Paragraph>
        You need to be logged in to vote.
    </Paragraph>
}
